--realvideo

--programname "Manic Miner" 

--programsettingsinfo "Enabling Real Video, enabling lnctr video adjust, setting realjoystick buttons to keys, setting joystick to none"

--enablezx8081lnctradjust

--joystickemulated None

--joystickkeyev Left 'o'
--joystickkeyev Right 'p'

#Key ' ' is not understood. You must write ascii code
--joystickkeyev Fire 32
