--machine zx81

--realvideo
--joystickemulated "fuller"
--programname "Cinta de pruebas"
--programsettingsinfo "Activamos realvideo, joystick...."
--enableulaplus

--joystickevent 12 "Fire"


--joystickkeybt 10 'p'
--joystickkeybt 11 'a'

--joystickkeyev Up 'r'
--joystickkeyev Down 'v'

--gigascreen
