--text-keyboard-add ~~n
--text-keyboard-add ~~s
--text-keyboard-add ~~w
--text-keyboard-add ~~e
--text-keyboard-add nw
--text-keyboard-add ne
--text-keyboard-add sw
--text-keyboard-add se
--text-keyboard-add wait
--text-keyboard-add "say to "
--text-keyboard-add \
--text-keyboard-add "gandalf "
--text-keyboard-add "elrond "
--text-keyboard-add "with "
--text-keyboard-add "~~get "
--text-keyboard-add "~~open "
--text-keyboard-add "~~read "
--text-keyboard-add "unlock "
--text-keyboard-add "all"
--text-keyboard-add "~~door"
--text-keyboard-add "~~key"
--text-keyboard-add "~~map"
