--frameskip 0
--clearredefinekey
--cleareventlist
--joystickemulated None
--joystickevent -1 Up
--joystickevent +1 Down
--joystickevent -0 Left
--joystickevent +0 Right
--joystickevent 0 EscMenu
--joystickevent 3 Fire
--joystickevent 8 Smartload

--joystickkeybt 9 '2'
--joystickkeybt -1 'w'
--joystickkeybt +1 'x'
--joystickkeybt -0 'a'
--joystickkeybt +0 'd'
--joystickkeybt 4 'l'
--joystickkeybt 5 'r'

