--enableulaplus

--machine 128k
--frameskip 0
--clearredefinekey
--cleareventlist
--joystickemulated "OPQA Space"
--joystickevent -1 Up
--joystickevent +1 Down
--joystickevent -0 Left
--joystickevent +0 Right
--joystickevent 0 EscMenu
--joystickevent 3 Fire
--joystickevent 8 Smartload

--joystickkeybt 9 '1'
